@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --text-rgb: 5, 18, 44;
  --active-rgb: 93, 39, 218;
  --background-shadow: 93, 39, 218, 0.5;
  --border-color:  5, 18, 44;
  --button-color:  255, 255, 255;
  --button-text: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 5, 18, 44;
    --text-rgb: 255, 255, 255;
    --active-rgb: 233, 254, 98;
    --background-shadow: 0, 0, 0;
    --border-color:  255, 255, 255;
    --button-color:  255, 255, 255;
    --button-text: 5, 18, 44;
  }
}

body {
  color: rgb(var(--text-rgb));
  background: rgb(var(--foreground-rgb));
}



  nav {
    color: rgb(var(--text-rgb));
    background: rgb(var(--foreground-rgb));
    box-shadow: 0 15px 35px rgb(var(--background-shadow));
  }


nav a label {
  background: #E9FE62;
}

nav a:hover i, nav a:active i{
  color: rgb(var(--active-rgb));
}

nav .fa-moon {
  color: rgb(var(--button-text));
}

.bg-blue {
  background: rgb(var(--foreground-rgb));
}

.text-blue {
  color: #05122C;
}

.border-blue {
  border: solid 1px #05122C;
}

.bg-border {
  background: rgb(var(--border-color));
}

.bg-active {
  background: rgb(var(--active-rgb));
}

.text-active {
  color: rgb(var(--active-rgb));
}

.bg-lilac {
  background: #8A71A8;
}

.btn-primary {
  background: #E9FE62;
  color: #05122C;
  border-radius: 8px;
  padding: 10px 15px;
  font-weight: 700;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
